##### Folders and Subfolders to exclude #####
#############################################
Library
Build
Temp
Helps
Assets/GoogleVR/


# File Extensions to exclude #
##############################
*.csproj
*.sln
*.suo