##### Folders and Subfolders to exclude #####
#############################################
Library
Build
Temp
Assets/GoogleVR/
Helps

# File Extensions to exclude #
##############################
*.csproj
*.sln
*.suo